.container{
    background-color: rgb(145, 68, 148);
}


button{
    width: 100px;
    height: 40px;
    padding: 15px;
}
.btnnn{
    margin-left: 360px;
}

.btnnnn{
    margin-left: 70px;
}